In [1]:
import nest_asyncio
nest_asyncio.apply()

import twint
import pandas as pd

In [2]:
c = twint.Config()
c.Search = "covid"
c.Limit = 200
c.Since = "2022-01-01"
c.Until = "2022-02-13"
c.Lang = "en"
c.Hide_output = True
c.Debug = True
c.Pandas = True

In [4]:
%%time
try:
    print("Start crawling")
    
    # convert output to dataframe format
    def twint_to_dataframe(columns):
        return twint.output.panda.Tweets_df[columns]
    
    # Start crawling
    twint.run.Search(c)
    
    # save specific data after crawling
    data = twint_to_dataframe(['date', 'username', 'tweet'])   
except Exception as e:
    print(e)
    
print("Finished")
print("-------")

Start crawling
Finished
-------
CPU times: total: 438 ms
Wall time: 7.49 s

In [5]:
data

,date,username,tweet
0,2022-02-13 00:38:03,mazzya6,@Heathdangercat @ConsumerSOS I think it's two-...
1,2022-02-13 00:38:02,Leanne00888573,@NickSchiavone @MiskiewiczWill Iâ€™m sick of hea...
2,2022-02-13 00:38:02,Georgie_D_101,@Uglyduckping @andymeiklejohn @FordDawe @axel1...
3,2022-02-13 00:38:02,originalscout11,"@RodKahx Denmark's doing it all wrong, they're..."
4,2022-02-13 00:38:02,leadershipindex,How COVID-19 Has Changed The Way We Work http...
...,...,...,...
195,2022-02-13 00:37:07,means_over,@JReinerMD Does it have anything to do with th...
196,2022-02-13 00:37:07,samanth77470710,@B52Malmet Had Covid in January 2022. Being bo...
197,2022-02-13 00:37:06,vickersty,@drmikehart Yes. Vitamin D is...a vitamin. It'...
198,2022-02-13 00:37:06,Libero_official,Bollettino #Covid 12 febbraio: 62.231 nuovi co...
199,2022-02-13 00:37:06,jennyyyyc,I think I had COVID 4 years ago ðŸ¤£. I really wa...

In [6]:
data.to_csv('raw_tweets.csv', index=False)