In [1]:
import pandas as pd
import emoji
import contractions
import re

In [5]:
def cleansing(tweet):
    # Replace RT tag
    t1 = re.sub('RT\s', '', tweet)
    # Replace @_username
    t2 = re.sub('\B@\w+', "", t1)
    # Replace emojis with text
    t3 = emoji.demojize(t2)
    # Replace URL (http:// or https://)
    t4 = re.sub('(http|https):\/\/\S+', '', t3)
    # Replace #_something_
    t5 = re.sub('#+', '', t4)
    # Lower case each letter
    t6 = t5.lower()
    # Replace word repetition with a single occurance ('ooooooooo' becomse 'oo')
    t7 = re.sub(r'(.)\1+', r'\1\1', t6)
    # Replace punctuation repetition with a single occurance ('!!!!!!!!' becomes '!')
    t8 = re.sub(r'[\?\.\!]+(?=[\?.\!])', '', t7)
    # Alphabets only, exlude numbers and special characters
    t9 = re.sub(r'[^a-zA-Z]', ' ', t8)
    # Replace contractions with their extended forms
    t10 = contractions.fix(t9)
    return t10

In [6]:
df = pd.read_csv('raw_tweets.csv', usecols=['date', 'username', 'tweet'])
df.head()

,date,username,tweet
0,2022-02-13 00:38:03,mazzya6,@Heathdangercat @ConsumerSOS I think it's two-...
1,2022-02-13 00:38:02,Leanne00888573,@NickSchiavone @MiskiewiczWill I’m sick of hea...
2,2022-02-13 00:38:02,Georgie_D_101,@Uglyduckping @andymeiklejohn @FordDawe @axel1...
3,2022-02-13 00:38:02,originalscout11,"@RodKahx Denmark's doing it all wrong, they're..."
4,2022-02-13 00:38:02,leadershipindex,How COVID-19 Has Changed The Way We Work http...

In [7]:
for i, r in df.iterrows():
    y = cleansing(r['tweet'])
    df.loc[i, 'tweet'] = y

df.head()

,date,username,tweet
0,2022-02-13 00:38:03,mazzya6,i think it s two fold although i m sure the...
1,2022-02-13 00:38:02,Leanne00888573,i m sick of hearing this a family member of...
2,2022-02-13 00:38:02,Georgie_D_101,also you can t determine unless you looked a...
3,2022-02-13 00:38:02,originalscout11,denmark s doing it all wrong they re countin...
4,2022-02-13 00:38:02,leadershipindex,how covid has changed the way we work via

In [8]:
df.to_csv('cleaned_tweets.csv', index=False)